html
  height: 100%


body
  font-family: sans-serif
  background-image: url('http://wallpapercave.com/wp/AWzDV5B.jpg')

// top-bottom
// left to right classes for the board

h1
  text-align: center
  font-family: 'Katibeh'
  color: #0aff95
  font-size: 4em

p
  font-family: 'Pacifico', cursive
  text-align: center
  color: #1ae8ff
  font-weight: bolder
  font-size: 2em

button
  text-align: center
  margin-right: 50%
  margin-left: 50%
  background-color: #ff1a98
  border-radius: 30%
  border: none
  // width: 20%
  height: 4em

ul
  list-style: none
  display: flex
  justify-content: space-around
  align-items: center

section
  display: flex
  justify-content: center
  align-items: center
  padding-top: 30%

  table
    border-radius: 1em
    border-color: #ff1a98
    width: 80%

  tr
    height: 5em
    border-top: none

  td
    text-align: center
    border-radius: 1em
    border-color: #d963a4
    height: 100px;
    width: 100px;

  .box .four .six
    border-top: none
